body {
    background-color: #e9e9f0;
}

.thead {
    text-align: center;
    color: #3498db;
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.results-container {
    padding: 0;
    margin: 2rem auto;
    border: #2c3e50;
    width: 100%;
    margin-left: 30px;
}

.table {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    width: 100%;
    word-wrap: break-word;
    transition: all 0.3s ease;
    border: 2px solid #000000;
    overflow: hidden;
}

.table-striped tbody tr:hover {
    background-color: rgba(52, 152, 219, 0.1);
}

.table th {
    background-color: #bfc8d1;
}

h1 {
    color: #2c3e50;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 3px solid #3498db;
    transition: all 0.3s ease;
}

h1 i {
    color: #3498db;
    transition: transform 0.3s ease;
}

h1:hover i {
    transform: scale(1.2);
}

.form-control {
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #3498db;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.2);
    transform: translateY(-2px);
}

/* Estilos para a paginação 
.pagination-container {
    margin-top: 20px;
}

.pagination .page-link {
    color: #3498db;
    border-color: #3498db;
    transition: all 0.2s ease;
}

.pagination .page-link:hover {
    background-color: #3498db;
    color: white;
}

no funcionou
*/